body {
	height: 100vh;
	background: linear-gradient(to top right, #007bff, transparent),
		linear-gradient(to bottom left, #ff8c00, transparent),
		linear-gradient(to top right, #ffff00, transparent);
	overflow-x: hidden;
	background-attachment: fixed;
}

.container {
	z-index: 99;
}
.currentDay {
	border: 2px solid black;
}

header {
	width: 100%;
}

#sideForm {
	background-color: azure;
	padding: 8px;
	height: fit-content;
}

#title {
	width: fit-content;
	padding: 4px;
	margin-left: 1px;
}

.add-title-bg {
	background-color: azure;
}

#searchedCities {
	height: fit-content;
}

#currentDay {
	background-color: azure;
}
.col-2 {
	background-color: azure;
}
